= @board.name

<canvas id="myChart" width="900" height="400"></canvas>
:javascript
  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: [1,2,3,4,5],
          datasets: [{
              label: "finished points",
              data: [1,2,3,4,5],
              backgroundColor: 'rgba(255, 99, 132, 1.0)',
              borderColor: 'rgba(255, 50, 132, 1.0)',
              fill: false
          },
          {
              label: "all task pointss",
              data: [7,7,7,7,7],
              type: 'line',
              backgroundColor: 'rgba(255, 99, 132, 1.0)',
              borderColor: 'rgba(255, 50, 132, 1.0)',
              fill: false
          }]
      },
      options: {
          title:  {
            display: true,
            text: "タイトル"
          }
      }
  });
